<div id="comment-form">
  <input
    #commentInput
    type="text"
    id="comment-input"
    (keyup)="onKeyUp($event)"
    [(ngModel)]="currentInput"
    placeholder="Add a comment..."
    [@slideInOut]
  />
  <ul [@dropdownAnimation]="showUserList ? 'open' : 'closed'" id="user-list-dropdown">
    <li *ngFor="let user of filteredUsers" (click)="selectUser(user)">
      {{ user.name }}
    </li>
  </ul>
  <button id="add-comment-button" (click)="addComment()" [@fadeIn]>
    <fa-icon [icon]="faPlusCircle"></fa-icon>
    Add
  </button>
</div>
