#comment-form {
  display: flex;
  margin: 10px 0;
  position: relative;
}

#comment-input {
  flex-grow: 1;
  margin-right: 10px;
  padding: 10px;
  border: solid lightgrey;
  border-radius: 5px;
  height: 15px;
  z-index: 1001;
}

#comment-input:focus-visible {
  outline: 1px solid grey;
}

#add-comment-button {
  width: 90px;
}

#user-list-dropdown {
  position: absolute;
  border: 1px solid lightgrey;
  background: white;
  list-style-type: none;
  padding: 0;
  margin: 0;
  z-index: 1000;
  bottom: 38px;
  box-shadow: 0px -6px 15px -4px grey;
  width: calc(100% - 90px - 10px);
}

#user-list-dropdown ul {
  padding: 0;
}

#user-list-dropdown li {
  padding: 5px 10px;
  cursor: pointer;
}

#user-list-dropdown li:hover {
  background-color: #f0f0f0;
}
