.comment-item {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid lightgray;
}

.comment-icon {
    margin-right: 10px;
}