@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-size: small;
}

button {
    padding: 10px 15px;
    border: none;
    background: lightgrey;
    float: right;
    box-shadow: 0 5px 5px -1px rgb(0 0 0 / 50%);
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
    font-family: 'Open Sans', sans-serif;
    font-size: small;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 10px -1px rgb(0 0 0 / 50%);
}

button:active {
    transform: scale(0.95);
    box-shadow: 0 0px 0px -1px rgb(0 0 0 / 50%);
}

input {
    font-family: 'Open Sans', sans-serif;
    font-size: small;
}